@import url(https://db.onlinewebfonts.com/c/13ab13418f633c1b0516fed6e30bedbc?family=Suisse+Int%27l);

:root {
  --font-primary: "Sofia Pro";
  --font-secondary: "Suisse Int'l";
  --color-title: #01005b;
  --color-gray: #676869;
  --color-lightgray: #6c6c6c;
}

html,
body {
  height: 100%;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}
