@import url(https://db.onlinewebfonts.com/c/13ab13418f633c1b0516fed6e30bedbc?family=Suisse+Int%27l);

:root {
  --font-primary: "Sofia Pro";
  --font-secondary: "Suisse Int'l";
  --color-title: #01005b;
  --color-gray: #676869;
  --color-lightgray: #6c6c6c;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

.none {
  display: none !important;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-small {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-large {
  max-width: 1495px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  width: 362px;
  text-align: center;
  padding: 10px 50px 5px 24px;
  font-size: 18px;
  font-family: var(--font-primary);
  letter-spacing: 1px;
  line-height: 1.2;
  border-radius: 8px;

  color: #fff;
  background-color: var(--color-title);
  transition: 0.3s ease-in;
}

.btn::after {
  content: "";
  display: block;
  position: relative;
  top: -14px;
  left: 270px;
  width: 23px;
  height: 10px;
  background-image: url("./../../img/hero/Vector.png");
  transition: margin 0.3s ease-in;
}

.btn:hover::after {
  margin-left: 10px;
}

.btn:hover {
  background-color: #1a1875;
}

.rating-wrap.mobile {
  display: none;
}

.connection-title.mobile {
  display: none;
}

/* Rating button with stars */

.rating-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
}

.rating-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  padding-top: 11px;
}

.rating-bottom span {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 12px;
  line-height: 0.8;
  letter-spacing: 1px;
  color: #828282;
}

.rating-stars img {
  width: 80px;
  height: 13px;
  margin-top: 2px;
}

/* ./Rating button with stars */
